.dash-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0;
}

.dash-header {
    background: gray('700');
    color: $white;

    .navbar-toggler {
        @include media-breakpoint-up(md) {
            display: none;
        }
    }
    
    .container {
        display: flex;
        justify-content: space-between;
    }
}

.dash-welcome {
    align-self: center;
    margin: 0;
}

.dash--heading {
    align-items: center;
    border-bottom: 1px solid gray('500');
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;

    h1:after {
        content: none;
    }
}

.dash-nav {
    background: theme-color('light');
    display: none;

    @include media-breakpoint-up(md) {
        display: block;
    }

    &--list {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        padding: 0;
    }

    &--item {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: -15px;
        margin-right: -15px;
        padding: 15px;
    }

    &--heading {
        color: gray('900');
        padding: 0;
    }

    &--link {
        padding: 0;
    }

    @include text-emphasis-variant('.dash-nav--link', gray('700'));


    &--dropdown-toggle {
        @extend .dropdown-toggle;
    }

    &--dropdown-menu {
        display: none;
        width: 100%;

        .dash-nav--link {
            margin-left: -15px;
            margin-right: -15px;
            padding: 15px;
        }
    }

    &--new {
        background: darken(theme-color('light'), 5%);
    }
}

