if portfolio
    - var slug = portfolio.slug
else
    - var slug = 'new_item'
- var action = `/admin/student/${student.slug}/portfolio/${slug}/save`
form(action=action method='POST' enctype='multipart/form-data')
    for input in form
        +form-input(input, portfolio)

    button.btn.btn-primary(type="submit") Save Changes