if student
    - var slug = student.slug
else
    -var slug = 'new_student'
- var action = `/admin/student/${slug}/save`
form(action=action method='POST' enctype='multipart/form-data')
    for input in form
        +form-input(input, student)

    button.btn.btn-primary(type="submit") Save Changes