extends layout

block title
    title Login

block content
    .login.container-fluid
        .login--container
            h1.login--heading Admin Login

            a.btn.btn-primary(href="/twitter/login") Login using Twitter
            if error
                p.err.text-danger #{error}