extends layout

block content
    .container
        .jumbotron
            h1 Admin Login

            a.btn.btn-primary(href="/twitter/login") Login using Twitter
            if error
                p.err.text-danger #{error}