$duration-medium: .3s;
$duration-long: $duration-medium * (5 / 3);
$duration-xlong: $duration-medium * (7 / 3);

$transition-medium: #{$duration-medium} all ease-in-out;
$transition-long: #{$duration-long} all ease-in-out;
$transition-xlong: #{$duration-xlong} all ease-in-out;